#kills {
  fill: none;
  stroke: purple;
}

#wounded {
  fill: none;
  stroke: orange;
}

.title {
    font-family: Sans-Serif;
    text-anchor: middle;
    font-size: 16px;
}

.line {
  stroke-width: 2;
  fill: none;
}
