/* CSS file to style html pages
   Name: Kimberley Boersma
   Student no.: 11003464 */

/* INDEX PAGE */
/* Front page images */
img {
  width: 100%;
  height: auto;
}

/* Padding for navbar */
body {
  padding-top: 3.5rem;
}

/* STORY PAGE */
/* Jumbotron header image */
.jumbotron {
 background-image: url('../doc/webimg/lakecanada.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 0% 40%;
}

/* Title on story page */
.display-3 {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
}

/* Text on story page header  */
#header-text {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

/* VISUALISATIONS PAGE */
/* Category dropdown on navbar */
#cat-drop {
  position: relative;
  background-color: #483f91;
  color: white;
  text-align: right;
  cursor: pointer;
  border-radius:4px;
  border:1px solid #AAAAAA;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Dropdown countries scroll */
.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

/* Navbar text */
.navbar-center {
    margin: 0 30px 0 30px;
}

/* Navbar country text */
#navbar-country {
    color: white;
    font-size: 18px;
    text-shadow: 0.8px 0.8px #9df21f;
}

/* Navbar category text */
#navbar-var {
  color: white;
  font-size: 18px;
  text-shadow: 0.8px 0.8px pink;
}

/* Navbar year text */
#navbar-year {
  color: white;
  font-size: 18px;
  text-shadow: 0.8px 0.8px skyblue;
}

/* INFO PAGE */
/* Jumbotron header image */
#infojumbo {
 background-image: url('../doc/webimg/desert.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 0% 60%;
}

#logo {
  width: auto;
  height: auto;
}

/* Footer */
.page-footer {
  background-color: #1C2331;
  color: white;
}
